.site-logo {
    width: 120px;
    height: 31px;
    color: white;
    font-size: 20px;
    
    float: left;
}

.site-layout-background {
    background: #fff;
}

.ant-btn .anticon {
    vertical-align: text-top;
}

.float-right {
    float: right;
}